$theme-color: #1982ff;
$text-color: (
  light: #2c3e50,
  dark: #adbac7,
);
$bg-color: (
  light: #fff,
  dark: #22272e,
);
$bg-color-secondary: (
  light: #f3f4f5,
  dark: #2b313a,
);
$bg-color-tertiary: (
  light: #eee,
  dark: #262c34,
);
$border-color: (
  light: #eaecef,
  dark: #3e4c5a,
);

// shadow
$box-shadow: (
  light: #f0f1f2,
  dark: #282a32,
);
$card-shadow: (
  light: rgb(0 0 0 / 15%),
  dark: rgb(0 0 0 / 30%),
);

// constants
$black: (
  light: #000,
  dark: #fff,
);
$dark-grey: (
  light: #666,
  dark: #999,
);
$light-grey: (
  light: #999,
  dark: #666,
);
$white: (
  light: #fff,
  dark: #000,
);
$grey3: (
  light: #333,
  dark: #bbb,
);
$grey12: (
  light: #bbb,
  dark: #333,
);

$font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif';
$font-family-heading: $font-family;
$font-family-mono: 'Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace';
